/build
RF_CGRAMap/build/
env.sh
*.o
*.lo
*.so
*.la
*.so.*
*.a
*.dylib
/llvm/build/
/glpk/examples/.libs/
/glpk/examples/glpsol
/glpk/src/.libs/
/pluto/candl/.libs/
/pluto/candl/candl
/pluto/clan/.libs/
/pluto/clan/clan
/pluto/cloog-isl/.libs/
/pluto/cloog-isl/cloog
/pluto/cloog-isl/test/.libs/
/pluto/cloog-isl/test/generate_test_advanced
/pluto/isl/.libs/
/pluto/isl/gitversion.h
/pluto/isl/isl_bound
/pluto/isl/isl_cat
/pluto/isl/isl_closure
/pluto/isl/isl_codegen
/pluto/isl/isl_flow
/pluto/isl/isl_flow_cmp
/pluto/isl/isl_pip
/pluto/isl/isl_polyhedron_detect_equalities
/pluto/isl/isl_polyhedron_minimize
/pluto/isl/isl_polyhedron_sample
/pluto/isl/isl_polytope_scan
/pluto/isl/isl_schedule
/pluto/isl/isl_schedule_cmp
/pluto/isl/isl_test
/pluto/isl/isl_test_int
/pluto/lib/.libs/
/pluto/openscop/.libs/
/pluto/openscop/tests/.libs/
/pluto/openscop/tests/osl_int
/pluto/openscop/tests/osl_pluto_unroll
/pluto/openscop/tests/osl_relation_set_precision
/pluto/openscop/tests/osl_test
/pluto/pet/.libs/
/pluto/pet/gitversion.h
/pluto/pet/pet_check_code
/pluto/pet/pet_codegen
/pluto/piplib/.libs/
/pluto/piplib/example/.libs/
/pluto/piplib/example/example_dp
/pluto/piplib/pip_dp
/pluto/polylib/.libs/
/pluto/polylib/Zpolytest64
/pluto/polylib/c2p
/pluto/polylib/count
/pluto/polylib/disjoint_union_adj
/pluto/polylib/disjoint_union_sep
/pluto/polylib/ehrhart_lower_bound
/pluto/polylib/ehrhart_quick_apx
/pluto/polylib/ehrhart_ranking64
/pluto/polylib/ehrhart_union64
/pluto/polylib/ehrhart_upper_bound
/pluto/polylib/example
/pluto/polylib/findv
/pluto/polylib/polytest64
/pluto/polylib/pp64
/pluto/polylib/r2p
/pluto/polylib/testCompressParms64
/pluto/polylib/testehrhart64
/pluto/polylib/testlib
/pluto/polylib/verif_ehrhart64
/pluto/tool/pluto
*.log
*/autom4te.cache/*
*/*/autom4te.cache/*
/example/*
!/example/run.sh
!/example/*/
!/example/*/*.c
!/example/*/*.h
example/*/*.out
example/*/*.txt
example/*/*.RfCgraTrans*.ll
example/*/*.RfCgraTrans*.mlir
example/*/*.RfCgraTrans*.cloog
example/*/*.pluto.c
example/*/*.plutopar.c

# Autotools/libtool transient outputs (mainly third-party subtrees)
*.lai
*.Plo
*.Po
*.Tpo
*.Tlo
*.dirstamp

/pluto/**/.deps/
/pluto/**/.libs/
/pluto/**/autom4te.cache/
/pluto/**/config.log
/pluto/**/config.status
/pluto/**/libtool
/pluto/**/*-uninstalled.pc
/pluto/**/*-uninstalled.sh
/pluto/pet/pet
/pluto/pet/pet_scop_cmp
/pluto/pet/all.c
/pluto/pet/codegen_test.sh
/pluto/polycc
/pluto/polycc.sh
/pluto/getversion.sh
/pluto/candl/doc/Doxyfile
/pluto/clan/doc/Doxyfile
/pluto/cloog-isl/autoconf/Doxyfile
/pluto/isl/isl.pc.in
/pluto/openscop/doc/Doxyfile
/pluto/pet/pet.pc.in
/pluto/polylib/polylib.doxygen
/pluto/polylib/polylib64.pc.in

# Generated Makefile, pkg-config and scripts by autotools/configure
/pluto/**/Makefile
/pluto/**/*.pc
/pluto/**/genversion.sh
/pluto/**/config.h
/pluto/**/stamp-h*
/pluto/**/*_test.sh
/pluto/**/test.sh
/pluto/isl/include/isl/stdint.h
/pluto/isl/isl_srcdir.c
/pluto/cloog-isl/include/cloog/int.h
/pluto/cloog-isl/include/cloog/version.h
/pluto/cloog-isl/source/version.c
/pluto/candl/include/candl/macros.h
/pluto/candl/include/candl/piplib.h
/pluto/clan/include/clan/macros.h
/pluto/openscop/include/osl/scop.h
/pluto/polylib/include/polylib/polylib.h
/pluto/isl/interface/Makefile.in
/pluto/isl/isl_config.h

/glpk/**/autom4te.cache/
/glpk/**/.deps/
/glpk/**/.libs/
/glpk/**/config.log
/glpk/**/config.status
/glpk/**/libtool

# Local patch drops
*.patch
